PORT=3000
DB_PATH=./data/kebpro.sqlite
DB_ADAPTER=sqlite
DATABASE_URL=
POSTGRES_URL=
POSTGRES_PRISMA_URL=

COMPANY_NAME=Halasi Kebpro Kft.
COMPANY_PHONE=+36 70 451 5003
COMPANY_PHONE2=+36 70 451 5002
COMPANY_FAX=+36 77 426 014
COMPANY_EMAIL=info@kebpro.hu
COMPANY_ADDRESS=Szegedi Út 8., 6400 Kiskunhalas, HUNGARY

ENABLE_EMAIL=false
NOTIFICATION_EMAIL=info@kebpro.hu
MAIL_FROM=noreply@kebpro.hu

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=felhasznalo@example.com
SMTP_PASS=erosjelszo

ADMIN_USER=admin
ADMIN_PASS=admin123
