<%- include('partials/header') %>

<section class="section">
  <div class="container center">
    <h1>404</h1>
    <p>A keresett oldal nem található.</p>
    <a href="/" class="btn btn-primary">Vissza a főoldalra</a>
  </div>
</section>

<%- include('partials/footer') %>
