<%- include('partials/header') %>

<section class="section">
  <div class="container center">
    <h1>500</h1>
    <p>Váratlan szerverhiba történt. Kérjük, próbálja újra később.</p>
    <a href="/" class="btn btn-primary">Vissza a főoldalra</a>
  </div>
</section>

<%- include('partials/footer') %>
