<%- include('partials/header') %>

<section class="page-hero section-animate">
  <div class="container">
    <p class="eyebrow">Panaszkezel&eacute;si szab&aacute;lyzat</p>
    <h1>Panaszkezel&eacute;si szab&aacute;lyzat</h1>
  </div>
</section>

<section class="section section-animate">
  <div class="container">
    <article class="panel wide legal-content">
      <p><strong>Hat&aacute;lyos:</strong> 2018. m&aacute;jus 1. napj&aacute;t&oacute;l visszavon&aacute;sig</p>

      <h2>Az adatkezel&#337; megnevez&eacute;se</h2>
      <p><strong>C&eacute;gn&eacute;v:</strong> HALASI KEBPRO KFT.</p>
      <p><strong>Sz&eacute;khely:</strong> 6400, Kiskunhalas, Szegedi &uacute;t 8.</p>
      <p><strong>C&eacute;gjegyz&eacute;ksz&aacute;m:</strong> 03-09-111668</p>
      <p><strong>Ad&oacute;sz&aacute;m:</strong> 13289665-2-03</p>
      <p><strong>K&eacute;pvisel&#337;:</strong> Horv&aacute;th Anik&oacute;</p>
      <p><strong>Telefonsz&aacute;m:</strong> +36 70 451 5002</p>
      <p><strong>Fax:</strong> +36 77 426 014</p>
      <p><strong>E-mail c&iacute;m:</strong> info@csirkegyros.hu, info@kebpro.hu</p>
      <p><strong>Honlapok:</strong> www.csirkegyros.hu, www.kebpro.hu</p>

      <p>T&aacute;rsas&aacute;gunk kiemelt c&eacute;lja, hogy &uuml;gyfeleink minden szempontb&oacute;l el&eacute;gedettek legyenek szolg&aacute;ltat&aacute;sainkkal &eacute;s &uuml;gyint&eacute;z&eacute;s&uuml;nkkel. Szolg&aacute;ltat&aacute;si sz&iacute;nvonalunk folyamatos fejleszt&eacute;s&eacute;hez &eacute;s &uuml;gyfeleink el&eacute;gedetts&eacute;g&eacute;nek n&ouml;vel&eacute;s&eacute;hez fontos sz&aacute;munkra minden visszajelz&eacute;s, amely term&eacute;keinkkel, szolg&aacute;ltat&aacute;sainkkal, &uuml;gyvitel&uuml;nkkel, munkat&aacute;rsainkkal, illetve a c&eacute;g&uuml;nk eg&eacute;sz&eacute;vel kapcsolatban fogalmaz&oacute;dik meg &uuml;gyfeleinkben.</p>

      <p>A Halasi Kebpro Kft. a fogyaszt&oacute;v&eacute;delemr&#337;l sz&oacute;l&oacute; 1997. &eacute;vi CLV. t&ouml;rv&eacute;ny 17/A. &sect; rendelkez&eacute;seinek &eacute;s vonatkoz&oacute; jogszab&aacute;lyok &ndash; &iacute;gy k&uuml;l&ouml;n&ouml;sen, de nem kiz&aacute;r&oacute;lagosan az inform&aacute;ci&oacute;s &ouml;nrendelkez&eacute;si jogr&oacute;l &eacute;s az inform&aacute;ci&oacute;szabads&aacute;gr&oacute;l sz&oacute;l&oacute; 2011. &eacute;vi CXII. t&ouml;rv&eacute;ny (tov&aacute;bbiakban: &bdquo;Infotv.&rdquo;) &eacute;s az Eur&oacute;pai Parlament &eacute;s a Tan&aacute;csa (GDPR) 2016/679/EU rendelete &ndash; panaszkezel&eacute;s&eacute;re vonatkoz&oacute; rendelkez&eacute;seinek eleget t&eacute;ve a jelen dokumentumban foglaltak szerint fogadja &eacute;s kezeli a be&eacute;rkez&#337; panaszokat.</p>

      <h2>Panaszbejelent&eacute;s m&oacute;dja</h2>
      <p>Amennyiben C&eacute;g&uuml;nk b&aacute;rmely term&eacute;k&eacute;vel, szolg&aacute;ltat&aacute;s&aacute;val, elj&aacute;r&aacute;s&aacute;val, munkat&aacute;rs&aacute;nak magatart&aacute;s&aacute;val kapcsolatosan kifog&aacute;st, illetve panaszt szeretne tenni, azt sz&oacute;ban vagy &iacute;r&aacute;sban, a k&ouml;vetkez&#337; csatorn&aacute;kon juttathatja el r&eacute;sz&uuml;nkre.</p>

      <p><strong>Szem&eacute;lyes panaszbejelent&eacute;s:</strong><br>6400, Kiskunhalas, Szegedi &uacute;t 8.</p>

      <p><strong>Elektronikus panaszbejelent&eacute;s:</strong><br>Panaszbejelent&eacute;st az info@csirkegyros.hu / info@kebpro.hu email c&iacute;meken is eljuttathatja r&eacute;sz&uuml;nkre.</p>

      <p><strong>Postai &uacute;ton t&ouml;rt&eacute;n&#337; panaszbejelent&eacute;s:</strong><br>6400, Kiskunhalas, Szegedi &uacute;t 8.</p>

      <p>Faxon illetve Telefonon kereszt&uuml;l nem &aacute;ll m&oacute;dunkban panasz bejelent&eacute;st fogadni.</p>

      <p>A panaszbejelent&eacute;sek kivizsg&aacute;l&aacute;s&aacute;hoz sz&uuml;ks&eacute;g&uuml;nk van a panasztev&#337; szem&eacute;lyazonos&iacute;t&oacute; adataira, illetve az &eacute;rintett szerz&#337;d&eacute;ssel kapcsolatos adatokra (megrendel&eacute;ssz&aacute;m, szerz&#337;d&eacute;sazonos&iacute;t&oacute;sz&aacute;m, sz&aacute;mla/blokk), ez&eacute;rt k&eacute;rj&uuml;k tisztelt &uuml;gyfeleinket, hogy a gyorsabb &uuml;gymenet &eacute;rdek&eacute;ben ezen adatokat minden esetben sz&iacute;veskedjenek a panasz bejelent&eacute;se sor&aacute;n megadni.</p>

      <h2>&Uuml;gyint&eacute;z&eacute;si hat&aacute;rid&#337;</h2>
      <p>A sz&oacute;beli panaszt T&aacute;rsas&aacute;gunk azonnal megvizsg&aacute;lja, &eacute;s sz&uuml;ks&eacute;g szerint orvosolja.</p>
      <p>Ha a panaszbejelent&#337; a panasz kezel&eacute;s&eacute;vel nem &eacute;rt egyet, vagy a panasz azonnali kivizsg&aacute;l&aacute;sa nem lehets&eacute;ges, a T&aacute;rsas&aacute;g a panaszr&oacute;l &eacute;s az azzal kapcsolatos &aacute;ll&aacute;spontj&aacute;r&oacute;l halad&eacute;ktalanul jegyz&#337;k&ouml;nyvet vesz fel, &eacute;s annak egy m&aacute;solati p&eacute;ld&aacute;ny&aacute;t a szem&eacute;lyesen k&ouml;z&ouml;lt sz&oacute;beli panasz eset&eacute;n helyben &aacute;tadja.</p>
      <p>Az elektronikusan, vagy postai &uacute;ton beny&uacute;jtott panaszok eset&eacute;n legk&eacute;s&#337;bb harminc (30) napon bel&uuml;l megk&uuml;ldj&uuml;k v&aacute;laszunkat.</p>

      <h2>A panaszkezel&eacute;s sor&aacute;n k&eacute;rhető adatok</h2>
      <ul>
        <li>szerz&#337;d&#337;/panaszbejelent&#337; neve;</li>
        <li>megrendel&eacute;s sz&aacute;ma, sz&aacute;mla, nyugta/blokk;</li>
        <li>lakc&iacute;me, sz&eacute;khelye, levelez&eacute;si c&iacute;me;</li>
        <li>telefonsz&aacute;ma;</li>
        <li>&eacute;rtes&iacute;t&eacute;s m&oacute;dja;</li>
        <li>panasz le&iacute;r&aacute;sa, oka;</li>
        <li>panaszos ig&eacute;nye;</li>
        <li>term&eacute;kre vonatkoz&oacute; panasz eset&eacute;n, a sz&oacute;banforg&oacute; term&eacute;k a panasz al&aacute;t&aacute;maszt&aacute;s&aacute;hoz;</li>
        <li>meghatalmazott &uacute;tj&aacute;n elj&aacute;r&oacute; &uuml;gyf&eacute;l eset&eacute;ben &eacute;rv&eacute;nyes meghatalmazás;</li>
        <li>a panasz kivizsg&aacute;l&aacute;s&aacute;hoz, megv&aacute;laszol&aacute;s&aacute;hoz sz&uuml;ks&eacute;ges egy&eacute;b adat.</li>
      </ul>

      <h2>Adatkezel&eacute;s</h2>
      <p>A panaszbejelent&eacute;s sor&aacute;n megadott adatokat az inform&aacute;ci&oacute;s &ouml;nrendelkez&eacute;si jogr&oacute;l &eacute;s a GDPR &eacute;s az Infotv. rendelkez&eacute;seinek megfelel&#337;en kezelj&uuml;k; figyelemmel a T&aacute;rsas&aacute;g Adatv&eacute;delmi &eacute;s Adatkezel&eacute;si szab&aacute;lyzat&aacute;ra.</p>
      <p>Szeretn&eacute;nk biztos&iacute;tani &uuml;gyfeleinket arr&oacute;l, hogy T&aacute;rsas&aacute;gunk a panasz kivizsg&aacute;l&aacute;s&aacute;&eacute;rt k&uuml;l&ouml;n d&iacute;jat nem sz&aacute;m&iacute;t fel.</p>

      <h2>A panasz nyilv&aacute;ntart&aacute;sa</h2>
      <p>T&aacute;j&eacute;koztatjuk, hogy T&aacute;rsas&aacute;gunk a bejelentett &eacute;s eljuttatott panaszokr&oacute;l, valamint az azok rendez&eacute;s&eacute;t, megold&aacute;s&aacute;t szolg&aacute;l&oacute; int&eacute;zked&eacute;sekre vonatkoz&oacute; dokumentumokat nyilv&aacute;ntart&aacute;sban a panasz lez&aacute;rt&aacute;t k&ouml;vet&#337; 1 &eacute;vig megőrzi.</p>
      <p>Amennyiben a panasz bejelent&eacute;se szem&eacute;lyesen t&ouml;rt&eacute;nt, &eacute;s a panasz orvoslása azonnal megt&ouml;rt&eacute;nt, szem&eacute;lyes adatok, illetve dokumentumok őrz&eacute;se nem val&oacute;sul meg.</p>

      <h2>Jogorvoslati lehetős&eacute;gek</h2>
      <p>Hangs&uacute;lyozni k&iacute;v&aacute;njuk, hogy T&aacute;rsas&aacute;gunk sz&aacute;m&aacute;ra az &uuml;gyf&eacute;lpanasz hat&eacute;kony, fogyaszt&oacute;bar&aacute;t &eacute;s &uuml;gyf&eacute;l-centrikus kezel&eacute;se &eacute;s szolg&aacute;ltat&aacute;saink fejleszt&eacute;se alapvet&#337; szempont egy panaszkivizsg&aacute;l&aacute;si elj&aacute;r&aacute;s sor&aacute;n.</p>
      <p>T&aacute;j&eacute;koztatjuk tisztelt &Uuml;gyfeleinket, hogy panasz&aacute;nak elutas&iacute;t&aacute;sa vagy a panasz kivizsg&aacute;l&aacute;s&aacute;ra el&#337;&iacute;rt harminc (30) napos t&ouml;rv&eacute;nyi v&aacute;laszad&aacute;si hat&aacute;rid&#337; eredm&eacute;nytelen eltelte eset&eacute;n az al&aacute;bbi szervekhez fordulhat.</p>
      <p>A szerz&#337;d&eacute;s l&eacute;trej&ouml;tt&eacute;vel, &eacute;rv&eacute;nyess&eacute;g&eacute;vel, joghat&aacute;saival &eacute;s megsz&#369;n&eacute;s&eacute;vel, tov&aacute;bb&aacute; szerz&#337;d&eacute;sszeg&eacute;ssel &eacute;s annak joghat&aacute;saival &ouml;sszef&uuml;gg&#337; jogvita rendez&eacute;s&eacute;vel kapcsolatosan fogyaszt&oacute; a lak&oacute;helye vagy tart&oacute;zkod&aacute;si helye szerinti illet&eacute;kes b&eacute;k&eacute;ltet&#337; test&uuml;lethez fordulhat.</p>

      <h3>B&eacute;k&eacute;ltet&#337; test&uuml;letek el&eacute;rhet&#337;s&eacute;gei</h3>

      <p><strong>Baranya Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 7625 P&eacute;cs, Majorosy Imre u. 36.<br>
      Tel: (72) 507-154<br>
      E-mail: kerelem@baranyabekeltetes.hu, info@baranyabekeltetes.hu</p>

      <p><strong>B&aacute;cs-Kiskun Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 6000 Kecskem&eacute;t, &Aacute;rp&aacute;d krt. 4.<br>
      Tel: (76) 501-525, (76) 501-532<br>
      E-mail: bekeltetes@bacsbekeltetes.hu</p>

      <p><strong>B&eacute;k&eacute;s Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 5600 B&eacute;k&eacute;scsaba, Penza ltp. 5.<br>
      Tel: (66) 324-976, 446-354, 451-775<br>
      E-mail: bekeltetes@bmkik.hu</p>

      <p><strong>Borsod-Aba&uacute;j-Zempl&eacute;n Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 3525 Miskolc, Szentp&aacute;li u. 1.<br>
      Tel: (46) 501-091, 501-870<br>
      E-mail: bekeltetes@bokik.hu</p>

      <p><strong>Budapesti B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 1016 Budapest, Krisztina krt. 99.<br>
      Tel: (1) 488-2131<br>
      E-mail: bekelteto.testulet@bkik.hu</p>

      <p><strong>Csongr&aacute;d Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 6721 Szeged, P&aacute;rizsi krt. 8-12.<br>
      Tel: (62) 554-250/118 mell&eacute;k<br>
      E-mail: info@csmkik.hu</p>

      <p><strong>Fej&eacute;r Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 8000 Sz&eacute;kesfeh&eacute;rv&aacute;r, Hossz&uacute;s&eacute;ta t&eacute;r 4-6.<br>
      Tel: (22) 510-310<br>
      E-mail: fmkik@fmkik.hu, bekeltetes@fmkik.hu</p>

      <p><strong>Gy&#337;r-Moson-Sopron Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 9021 Gy&#337;r, Szent Istv&aacute;n &uacute;t 10/a.<br>
      Tel: (96) 520-202, 520-217<br>
      E-mail: bekeltetotestulet@gymskik.hu</p>

      <p><strong>Hajd&uacute;-Bihar Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 4025 Debrecen, Pet&#337;fi t&eacute;r 10.<br>
      Tel: 06-52-500-710, 06-52-500-745<br>
      E-mail: bekelteto@hbkik.hu</p>

      <p><strong>Heves Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 3300 Eger, Faiskola &uacute;t 15.<br>
      Tel: (36) 416-660/105 mell&eacute;k<br>
      E-mail: bekeltetes@hkik.hu</p>

      <p><strong>J&aacute;sz-Nagykun-Szolnok Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 5000 Szolnok, Verseghy park 8.<br>
      Tel: (56) 510-610<br>
      E-mail: bekeltetotestulet@jnszmkik.hu</p>

      <p><strong>Kom&aacute;rom-Esztergom Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 2800 Tatabánya, F&#337; t&eacute;r 36.<br>
      Tel: (34) 513-010<br>
      E-mail: bekeltetes@kemkik.hu</p>

      <p><strong>N&oacute;gr&aacute;d Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 3100 Salg&oacute;tarj&aacute;n, Alkotm&aacute;ny &uacute;t 9/a<br>
      Tel: (32) 520-860<br>
      E-mail: nkik@nkik.hu</p>

      <p><strong>Pest Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 1119 Budapest, Etele &uacute;t 59-61. II. emelet 240.<br>
      Tel: 06-1-269-0703<br>
      E-mail: pmbekelteto@pmkik.hu</p>

      <p><strong>Somogy Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 7400 Kaposv&aacute;r, Anna utca 6.<br>
      Tel: (82) 501-000<br>
      E-mail: skik@skik.hu</p>

      <p><strong>Szabolcs-Szatm&aacute;r-Bereg Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 4400 Ny&iacute;regyh&aacute;za, Sz&eacute;chenyi u. 2.<br>
      Tel: (42) 311-544, (42) 420-180<br>
      E-mail: bekelteto@szabkam.hu</p>

      <p><strong>Tolna Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 7100 Szeksz&aacute;rd, Arany J. u. 23-25.<br>
      Tel: (74) 411-661<br>
      E-mail: kamara@tmkik.hu</p>

      <p><strong>Vas Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 9700 Szombathely, Honv&eacute;d t&eacute;r 2.<br>
      Tel: (94) 312-356<br>
      E-mail: vmkik@vmkik.hu</p>

      <p><strong>Veszpr&eacute;m Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 8200 Veszpr&eacute;m, Budapest u. 3.<br>
      Tel: (88) 814-111<br>
      E-mail: info@bekeltetesveszprem.hu</p>

      <p><strong>Zala Megyei B&eacute;k&eacute;ltet&#337; Test&uuml;let</strong><br>
      C&iacute;m: 8900 Zalaegerszeg, Pet&#337;fi utca 24.<br>
      Tel: (92) 550-513<br>
      E-mail: zmkik@zmkik.hu, zmbekelteto@zmkik.hu</p>

      <h3>Budapest F&#337;v&aacute;ros Korm&aacute;nyhivatal Fogyaszt&oacute;v&eacute;delmi Fel&uuml;gyel&#337;s&eacute;g</h3>
      <p>C&iacute;m: 1052 Budapest, V&aacute;rosh&aacute;z u. 7.<br>
      Postac&iacute;m: 1364 Budapest, Pf.: 144<br>
      Tel: +36 1 411 01 15<br>
      E-mail: fogyved_kmf_budapest@nfh.hu</p>

      <p>Kelt: Budapest, 2018. m&aacute;jus 1.</p>

      <p>
        <a href="/pdf/Reklamacios-Adatlap-Kebpro.pdf" target="_blank" rel="noreferrer">Reklam&aacute;ci&oacute;s adatlap let&ouml;lt&eacute;se (PDF)</a>
      </p>
    </article>
  </div>
</section>

<%- include('partials/footer') %>
