<%- include('partials/header') %>

<section class="page-hero section-animate">
  <div class="container">
    <p class="eyebrow">Bels&#337; Vissza&eacute;l&eacute;s-Bejelent&eacute;s</p>
    <h1>Halasi Kebpro Kft. bels&#337; vissza&eacute;l&eacute;s-bejelent&#337; rendszere</h1>
  </div>
</section>

<section class="section section-animate">
  <div class="container">
    <article class="panel wide legal-content">
      <p><strong>Hat&aacute;lyos:</strong> 2023. December 17. napj&aacute;t&oacute;l visszavon&aacute;sig</p>

      <h2>1. A bels&#337; vissza&eacute;l&eacute;s-bejelent&eacute;si rendszer l&eacute;trehoz&aacute;s&aacute;nak k&ouml;telezetts&eacute;ge</h2>
      <p>A Halasi Kebpro Kft. (a tov&aacute;bbiakban: Kft.) a jogszerű m&#369;k&ouml;d&eacute;s&eacute;nek biztos&iacute;t&aacute;sa &eacute;rdek&eacute;ben bels&#337; vissza&eacute;l&eacute;s-bejelent&eacute;si rendszert m&#369;k&ouml;dtet. A vissza&eacute;l&eacute;s-bejelent&eacute;si rendszer c&eacute;lja, a jogellenes vagy jogellenesnek felt&eacute;telezett cselekm&eacute;nyekkel vagy mulaszt&aacute;sokkal, illetve egy&eacute;b vissza&eacute;l&eacute;sekkel kapcsolatos bejelentett inform&aacute;ci&oacute;k vizsg&aacute;lata a panaszokr&oacute;l, a k&ouml;z&eacute;rdek&#369; bejelent&eacute;sekr&#337;l, valamint a vissza&eacute;l&eacute;sek bejelent&eacute;s&eacute;vel &ouml;sszef&uuml;gg&#337; szab&aacute;lyokr&oacute;l sz&oacute;l&oacute; 2023. &eacute;vi XXV. t&ouml;rv&eacute;nyben (a tov&aacute;bbiakban: Panasztv.) foglalt k&ouml;vetelm&eacute;nyeknek megfelel&#337;en.</p>

      <h2>2. Mit lehet bejelenteni, hogy k&uuml;l&ouml;n&iacute;thet&#337; el a bejelent&eacute;s m&aacute;s bejelent&eacute;st&#337;l</h2>
      <p>A Panasztv. 20. &sect; (1) bekezd&eacute;se szerint a bels&#337; vissza&eacute;l&eacute;s-bejelent&eacute;si rendszerben jogellenes vagy jogellenesnek felt&eacute;telezett cselekm&eacute;nyre vagy mulaszt&aacute;sra, illetve egy&eacute;b vissza&eacute;l&eacute;sre vonatkoz&oacute; inform&aacute;ci&oacute;t lehet bejelenteni.</p>
      <p>A bels&#337; vissza&eacute;l&eacute;s-bejelent&eacute;si rendszer elk&uuml;l&ouml;n&uuml;l a Kft. Etikai K&oacute;dex&eacute;ben foglalt bejelent&eacute;sekt&#337;l. Az Etikai K&oacute;dexben foglalt vissza&eacute;l&eacute;sek bejelent&eacute;se az Etikai K&oacute;dexben foglaltak szerinti etikai elvek s&eacute;r&uuml;l&eacute;s&eacute;nek, &eacute;rv&eacute;nyes&uuml;l&eacute;s&uuml;k hi&aacute;ny&aacute;nak bejelent&eacute;s&eacute;re vonatkozik minden &eacute;rintett sz&aacute;m&aacute;ra, aki ennek tan&uacute;ja vagy &aacute;ldozata volt.</p>
      <p>A Panasztv. hat&aacute;lya al&aacute; nem tartoz&oacute; bejelent&eacute;s eset&eacute;n a bejelent&#337;t &iacute;r&aacute;sban vagy elektronikus &uacute;ton a bels&#337; vissza&eacute;l&eacute;s-bejelent&eacute;si rendszer m&#369;k&ouml;dtet&#337;je &eacute;rtes&iacute;ti arr&oacute;l, hogy az adott bejelent&eacute;s kivizsg&aacute;l&aacute;s&aacute;ra a Kft. nem rendelkezik hat&aacute;sk&ouml;rrel.</p>

      <h2>3. Ki tehet bejelent&eacute;st?</h2>
      <p>A bels&#337; vissza&eacute;l&eacute;s-bejelent&eacute;si rendszerbe a Panasztv. 20. &sect; (2)-(3) bekezd&eacute;se alapj&aacute;n bejelent&eacute;st tehet:</p>
      <ul>
        <li>a Kft. &aacute;ltal foglalkoztatott,</li>
        <li>az a foglalkoztatott, akinek a Kft-n&eacute;l fenn&aacute;ll&oacute; foglalkoztat&aacute;sra ir&aacute;nyul&oacute; jogviszonya megsz&#369;nt, &eacute;s</li>
        <li>a Kft-vel foglalkoztat&aacute;sra ir&aacute;nyul&oacute; jogviszonyt l&eacute;tes&iacute;teni k&iacute;v&aacute;n&oacute; olyan szem&eacute;ly, aki eset&eacute;ben e jogviszony l&eacute;tes&iacute;t&eacute;s&eacute;re vonatkoz&oacute; elj&aacute;r&aacute;s megkezd&#337;d&ouml;tt,</li>
        <li>az egy&eacute;ni v&aacute;llalkoz&oacute;, az egy&eacute;ni c&eacute;g, ha a Kft-vel szerz&#337;d&eacute;ses kapcsolatban &aacute;ll,</li>
        <li>a Kft-vel szerz&#337;d&eacute;ses kapcsolat l&eacute;tes&iacute;t&eacute;s&eacute;re vonatkoz&oacute; elj&aacute;r&aacute;st megkezdett, szerz&#337;d&eacute;ses kapcsolatban &aacute;ll&oacute; vagy szerz&#337;d&eacute;ses kapcsolatban &aacute;llt v&aacute;llalkoz&oacute;, alv&aacute;llalkoz&oacute;, besz&aacute;ll&iacute;t&oacute;, illetve megb&iacute;zott fel&uuml;gyelete &eacute;s ir&aacute;ny&iacute;t&aacute;sa alatt &aacute;ll&oacute; szem&eacute;ly,</li>
        <li>a Kft-n&eacute;l tev&eacute;kenys&eacute;get v&eacute;gz&#337; gyakornok &eacute;s &ouml;nk&eacute;ntes,</li>
        <li>a Kft-vel jogviszonyt vagy szerz&#337;d&eacute;ses kapcsolatot l&eacute;tes&iacute;teni k&iacute;v&aacute;n&oacute; olyan szem&eacute;ly, aki eset&eacute;ben e jogviszony vagy szerz&#337;d&eacute;ses kapcsolat l&eacute;tes&iacute;t&eacute;s&eacute;re vonatkoz&oacute; elj&aacute;r&aacute;s megkezd&#337;d&ouml;tt, &eacute;s</li>
        <li>az a szem&eacute;ly, akinek jogviszonya vagy szerz&#337;d&eacute;ses kapcsolata a Kft-vel megsz&#369;nt.</li>
      </ul>
      <p>A bejelent&#337;ket a bejelent&eacute;s&uuml;kkel kapcsolatban nem &eacute;rheti semmilyen h&aacute;tr&aacute;nyos int&eacute;zked&eacute;s. A bejelent&#337; v&eacute;delm&eacute;re a Panasztv. II. fejezet 8. alc&iacute;me alkalmazand&oacute;.</p>

      <h2>4. Bejelent&eacute;s m&oacute;dja</h2>
      <p>A bels&#337; vissza&eacute;l&eacute;s-bejelent&eacute;s megt&eacute;telekor az eredm&eacute;nyes vizsg&aacute;lat &eacute;rdek&eacute;ben a bejelent&#337;nek az al&aacute;bbi adatokat javasolt megadni:</p>
      <ul>
        <li>nev&eacute;t,</li>
        <li>munkak&ouml;r&eacute;t (volt munkak&ouml;r&eacute;t vagy p&aacute;ly&aacute;zott munkak&ouml;r&eacute;t),</li>
        <li>szerz&#337;d&eacute;ses jogviszony&aacute;val kapcsolatos minden olyan inform&aacute;ci&oacute;t, mely alapj&aacute;n a szerz&#337;d&eacute;ses jogviszony igazolhat&oacute; (szerz&#337;d&eacute;ses felek eset&eacute;n),</li>
        <li>el&eacute;rhet&#337;s&eacute;g&eacute;t (e-mail c&iacute;m, telefonsz&aacute;m).</li>
      </ul>
      <p>N&eacute;vtelen bejelent&eacute;s eset&eacute;n a bejelent&#337; felh&iacute;vhat&oacute; &ndash; amennyiben ez a bejelent&eacute;s hat&eacute;kony kivizsg&aacute;l&aacute;sa c&eacute;lj&aacute;b&oacute;l elengedhetetlen, &eacute;s a bejelent&#337; el&eacute;rhet&#337;s&eacute;ge rendelkez&eacute;sre &aacute;ll &ndash; a nev&eacute;nek megad&aacute;s&aacute;ra. Amennyiben bejelent&eacute;st azonos&iacute;thatatlan bejelent&#337; tette meg a bejelent&eacute;s vizsg&aacute;lata mell&#337;zhet&#337; (Panasztv. 22. &sect; (6) bek. a) pontja alapj&aacute;n).</p>
      <p>A bejelent&eacute;s sor&aacute;n sz&uuml;ks&eacute;ges megadni a bejelent&eacute;sben &eacute;rintett, kifog&aacute;solt szem&eacute;lyek &eacute;s szervezetek nev&eacute;t, az eset r&eacute;szletes le&iacute;r&aacute;s&aacute;t &eacute;s az eset kapcs&aacute;n felmer&uuml;lt valamennyi l&eacute;nyeges inform&aacute;ci&oacute;t, valamint bejelent&#337;nek nyilatkoznia kell arr&oacute;l, hogy a bejelent&eacute;st j&oacute;hiszem&#369;en teszi olyan k&ouml;r&uuml;lm&eacute;nyekr&#337;l, amelyekr&#337;l tudom&aacute;sa van, vagy kell&#337; alappal felt&eacute;telezi, hogy azok val&oacute;sak.</p>

      <p><strong>Bejelent&eacute;s megt&eacute;tel&eacute;nek m&oacute;dja:</strong></p>
      <ul>
        <li>a bels&#337; vissza&eacute;l&eacute;s-bejelent&eacute;si rendszer www.kebpro.hu internetes fel&uuml;let&eacute;n megadott el&eacute;rhet&#337;s&eacute;gen kereszt&uuml;l,</li>
        <li>elektronikus lev&eacute;l form&aacute;j&aacute;ban: belsovisszaelesbejelentes@kebpro.hu,</li>
        <li>a fenn megadott el&eacute;rhet&#337;s&eacute;gen szem&eacute;lyes egyeztet&eacute;s &eacute;rdek&eacute;ben, id&#337;pontegyeztet&eacute;st k&ouml;vet&#337;en szem&eacute;lyesen sz&oacute;ban a bels&#337; vissza&eacute;l&eacute;s-bejelent&eacute;si rendszer m&#369;k&ouml;dtet&#337;j&eacute;n&eacute;l,</li>
        <li>pap&iacute;r alapon a Halasi Kebpro Kft. sz&eacute;khely&eacute;n (6400 Kiskunhalas, Szegedi &uacute;t 8.) a 2-es kapun&aacute;l elhelyezett bejelent&eacute;sek fogad&aacute;s&aacute;ra l&eacute;trehozott postal&aacute;d&aacute;ba t&ouml;rt&eacute;n&#337; elhelyez&eacute;ssel.</li>
      </ul>
      <p>Elektronikus form&aacute;ban beny&uacute;jtott bejelent&eacute;s eset&eacute;n automatikus v&aacute;lasz ker&uuml;l kik&uuml;ld&eacute;sre a be&eacute;rkez&eacute;sr&#337;l.</p>
      <p>A Kft. nem tud felel&#337;ss&eacute;get v&aacute;llalni azon &uuml;gyek kivizsg&aacute;l&aacute;s&aacute;nak elmarad&aacute;s&aacute;&eacute;rt, amely elektronikus bejelent&eacute;seket automatikusan m&#369;k&ouml;d&#337; v&eacute;delmi szoftverek (v&iacute;ruskeres&#337;, spamsz&#369;r&#337;) tev&eacute;kenys&eacute;g&eacute;nek eredm&eacute;nyek&eacute;nt vagy egy&eacute;b technikai ok miatt nem jut el a c&iacute;mzett e-mailc&iacute;mre. Ezen esetekben nincs automatikus visszaigazol&aacute;s a bejelent&eacute;s meg&eacute;rkez&eacute;s&eacute;r&#337;l.</p>

      <h2>5. Bejelent&eacute;s vizsg&aacute;lat&aacute;nak mell&#337;z&eacute;se</h2>
      <p>A bejelent&eacute;sek eset&eacute;ben a vizsg&aacute;lat az al&aacute;bbi esetekben mell&#337;zhet&#337;:</p>
      <ul>
        <li>a bejelent&eacute;st azonos&iacute;thatatlan bejelent&#337; tette meg,</li>
        <li>a bejelent&eacute;st nem a szem&eacute;lyi hat&aacute;ly szerinti erre jogosult bejelent&#337; szem&eacute;ly tette meg,</li>
        <li>a bejelent&eacute;s ugyanazon bejelent&#337; &aacute;ltal tett ism&eacute;telt, a kor&aacute;bbi bejelent&eacute;ssel azonos tartalm&uacute; bejelent&eacute;s, illetve a k&ouml;z&eacute;rdek vagy a nyom&oacute;s mag&aacute;n&eacute;rdek s&eacute;relme a bejelent&eacute;sben &eacute;rintett szem&eacute;ly jogainak a bejelent&eacute;s kivizsg&aacute;l&aacute;s&aacute;b&oacute;l ered&#337; korl&aacute;toz&aacute;s&aacute;val nem &aacute;llna ar&aacute;nyban.</li>
      </ul>

      <h2>6. Kivizsg&aacute;l&aacute;s</h2>
      <p>A bejelent&eacute;sben &eacute;rintett szem&eacute;lyt a vizsg&aacute;lat megkezd&eacute;sekor a bels&#337; vissza&eacute;l&eacute;s-bejelent&eacute;si rendszer m&#369;k&ouml;dtet&#337;je r&eacute;szletesen t&aacute;j&eacute;koztatja a bejelent&eacute;sr&#337;l, a szem&eacute;lyes adatai v&eacute;delm&eacute;vel kapcsolatban &#337;t megillet&#337; jogair&oacute;l, valamint az adatai kezel&eacute;s&eacute;re vonatkoz&oacute; szab&aacute;lyokr&oacute;l.</p>
      <p>A Kft. a tisztess&eacute;ges elj&aacute;r&aacute;s k&ouml;vetelm&eacute;ny&eacute;nek megfelel&#337;en biztos&iacute;tja, hogy a bejelent&eacute;sben &eacute;rintett szem&eacute;ly a bejelent&eacute;ssel kapcsolatos &aacute;ll&aacute;spontj&aacute;t &ndash; ak&aacute;r jogi k&eacute;pvisel&#337;je &uacute;tj&aacute;n is &ndash; b&aacute;rmikor kifejthesse, &eacute;s bizony&iacute;t&eacute;kokkal t&aacute;massza al&aacute;. A bejelent&eacute;sben &eacute;rintett szem&eacute;ly t&aacute;j&eacute;koztat&aacute;sa nem t&ouml;rt&eacute;nik meg a vizsg&aacute;lat megind&iacute;t&aacute;sakor abban az esetben, ha az azonnali t&aacute;j&eacute;koztat&aacute;s meghius&iacute;tan&aacute; a bejelent&eacute;s kivizsg&aacute;l&aacute;s&aacute;t.</p>
      <p>A Kft. a k&ouml;r&uuml;lm&eacute;nyek &aacute;ltal lehető;v&eacute; tett legr&ouml;videbb időn bel&uuml;l k&ouml;teles a bejelent&eacute;sben foglaltak kivizsg&aacute;l&aacute;s&aacute;ra. A bejelent&eacute;s kivizsg&aacute;l&aacute;s&aacute;ra legfeljebb annak be&eacute;rkez&eacute;s&eacute;t&#337;l sz&aacute;m&iacute;tott 30 nap &aacute;ll rendelkez&eacute;sre, amely hat&aacute;rid&#337;t&#337;l &ndash; n&eacute;v n&eacute;lk&uuml;li vagy azonos&iacute;thatatlan bejelent&#337; &aacute;ltal megtett bejelent&eacute;s kiv&eacute;tel&eacute;vel &ndash; csak k&uuml;l&ouml;n&ouml;sen indokolt esetben, a bejelent&#337; egyidejű t&aacute;j&eacute;koztat&aacute;sa mellett lehet elt&eacute;rni. A vizsg&aacute;lat időtartama a 3 h&oacute;napot nem haladhatja meg.</p>
      <p>A bejelent&#337;t a bels&#337; vissza&eacute;l&eacute;s-bejelent&eacute;si rendszer m&#369;k&ouml;dtet&#337;je a bejelent&eacute;s mell&#337;z&eacute;s&eacute;r&#337;l &eacute;s a mell&#337;z&eacute;s indok&aacute;r&oacute;l &iacute;r&aacute;sban t&aacute;j&eacute;koztatja a k&ouml;r&uuml;lm&eacute;nyek &aacute;ltal lehető;v&eacute; tett legr&ouml;videbb időn bel&uuml;l, de legfeljebb a bejelent&eacute;s be&eacute;rkez&eacute;s&eacute;t&#337;l sz&aacute;m&iacute;tott harminc napon bel&uuml;l.</p>

      <h2>7. Bejelent&eacute;ssel kapcsolatos int&eacute;zked&eacute;s</h2>
      <p>Miut&aacute;n a bejelent&eacute;st a Kft. kivizsg&aacute;lja, a bejelent&#337;t a vizsg&aacute;lat eredm&eacute;ny&eacute;r&#337;l, valamint a megtett int&eacute;zked&eacute;sekr&#337;l t&aacute;j&eacute;koztatja. Ha a bejelent&eacute;sben foglalt magatart&aacute;s miatt a vizsg&aacute;lat alapj&aacute;n b&uuml;ntet&#337;elj&aacute;r&aacute;s kezdem&eacute;nyez&eacute;se indokolt, akkor int&eacute;zkedik a feljelent&eacute;s megt&eacute;tel&eacute;r&#337;l.</p>
      <p>Ha a bejelent&eacute;sben foglalt magatart&aacute;s a vizsg&aacute;lat alapj&aacute;n nem b&#369;ncselekm&eacute;ny, de s&eacute;rti a Kft. bels&#337; szab&aacute;lyzatait vagy a munkaviszonyra vonatkoz&oacute; szab&aacute;lyokat, &uacute;gy a Kft, mint munk&aacute;ltat&oacute; az &eacute;rintett munkav&aacute;llal&oacute;val szemben munk&aacute;ltat&oacute;i int&eacute;zked&eacute;st alkalmazhat.</p>
      <p>Ha a vizsg&aacute;lat a bejelent&eacute;s megalapozatlans&aacute;g&aacute;t &aacute;llap&iacute;tja meg vagy tov&aacute;bbi int&eacute;zked&eacute;s megt&eacute;tele nem sz&uuml;ks&eacute;ges, az elj&aacute;r&aacute;st a Kft. lez&aacute;rja &eacute;s err&#337;l a bejelent&#337;t t&aacute;j&eacute;koztatja.</p>
    </article>
  </div>
</section>

<%- include('partials/footer') %>
