<%- include('partials/header') %>

<section class="page-hero section-animate">
  <div class="container">
    <p class="eyebrow">Adatkezel&eacute;si t&aacute;j&eacute;koztat&oacute;</p>
    <h1>Adatkezel&eacute;si t&aacute;j&eacute;koztat&oacute;</h1>
  </div>
</section>

<section class="section section-animate">
  <div class="container">
    <article class="panel wide legal-content">

      <h2>Az adatkezel&#337; megnevez&eacute;se</h2>
      <p><strong>C&eacute;gn&eacute;v:</strong> Halasi Kebpro Kft.</p>
      <p><strong>Sz&eacute;khely:</strong> 6400, Kiskunhalas, Szegedi &uacute;t 8.</p>
      <p><strong>C&eacute;gjegyz&eacute;ksz&aacute;m:</strong> 03-09-111668</p>
      <p><strong>Ad&oacute;sz&aacute;m:</strong> 13289665-2-03</p>
      <p><strong>K&eacute;pvisel&#337;:</strong> Horv&aacute;th Anik&oacute;</p>
      <p><strong>Telefonsz&aacute;m:</strong> +36 70 451 5002</p>
      <p><strong>Fax:</strong> +36 77 426 014</p>
      <p><strong>E-mail c&iacute;m:</strong> info@kebpro.hu</p>
      <p><strong>Honlap:</strong> www.kebpro.hu</p>
      <p><strong>Adatkezel&#337; k&eacute;pvisel&#337;je:</strong> Horv&aacute;th Anik&oacute;</p>
      <p><strong>Adatv&eacute;delmi k&eacute;rd&eacute;sek:</strong> info@kebpro.hu</p>
      <p>(a tov&aacute;bbiakban: T&aacute;rsas&aacute;g)</p>

      <!-- ═══ Bevezetés ═══ -->
      <h2>A t&aacute;j&eacute;koztat&oacute; c&eacute;lja &eacute;s hat&aacute;lya</h2>
      <p>T&aacute;rsas&aacute;gunk (mint a www.kebpro.hu weboldal &uuml;zemeltet&#337;je) ez&uacute;ton t&aacute;j&eacute;koztatja l&aacute;togat&oacute;it, hogy a jelen honlappal kapcsolatosan az al&aacute;bbiakban foglaltak alapj&aacute;n kezel szem&eacute;lyes adatokat.</p>
      <p>A T&aacute;rsas&aacute;g kinyilv&aacute;n&iacute;tja, hogy adatkezel&eacute;si tev&eacute;kenys&eacute;g&eacute;t &ndash; a megfelel&#337; bels&#337; szab&aacute;lyok, technikai &eacute;s szervez&eacute;si int&eacute;zked&eacute;sek meghoz&aacute;sal&aacute;val &ndash; &uacute;gy v&eacute;gzi, hogy az minden k&ouml;r&uuml;lm&eacute;nyek k&ouml;z&ouml;tt feleljen meg az Eur&oacute;pai Parlament &eacute;s a Tan&aacute;cs (EU) 2016/679 Rendelet&eacute;nek (a tov&aacute;bbiakban: GDPR), tov&aacute;bb&aacute; az inform&aacute;ci&oacute;s &ouml;nrendelkez&eacute;si jogr&oacute;l &eacute;s az inform&aacute;ci&oacute;szabads&aacute;gr&oacute;l sz&oacute;l&oacute; 2011. &eacute;vi CXII. t&ouml;rv&eacute;ny (a tov&aacute;bbiakban: Infotv.) rendelkez&eacute;seinek.</p>
      <p>Ezen t&aacute;j&eacute;koztat&oacute; a Halasi Kebpro Kft. Adatkezel&eacute;si Szab&aacute;lyzata alapj&aacute;n k&eacute;sz&uuml;lt. Amennyiben szeretn&eacute; megismerni a T&aacute;rsas&aacute;g teljes Adatkezel&eacute;si Szab&aacute;lyzat&aacute;t, k&eacute;rj&uuml;k jelezze fel&eacute;nk, &eacute;s mi halad&eacute;ktalanul lehetős&eacute;get biztos&iacute;tunk annak megismer&eacute;s&eacute;re.</p>
      <p>A jelen t&aacute;j&eacute;koztat&oacute; fogalmai megegyeznek az Infotv. 3. &sect;-&aacute;ban meghat&aacute;rozott &eacute;rtelmez&#337; fogalommagyar&aacute;zatokkal.</p>
      <p>Szem&eacute;lyes adatot kiz&aacute;r&oacute;lag az &eacute;rintett el&#337;zetes hozz&aacute;j&aacute;rul&aacute;sa vagy t&ouml;rv&eacute;nyi el&#337;&iacute;r&aacute;s alapj&aacute;n kezel&uuml;nk.</p>
      <p>T&aacute;rsas&aacute;gunk szervezeti egys&eacute;gein&eacute;l adatkezel&eacute;st v&eacute;gz&#337; alkalmazottak k&ouml;telesek a megismert szem&eacute;lyes adatokat &uuml;zleti titokk&eacute;nt meg&#337;rizni. A szem&eacute;lyes adatokat kezel&#337; &eacute;s azokhoz hozz&aacute;f&eacute;r&eacute;si lehetős&eacute;ggel rendelkez&#337; munkat&aacute;rsaink Titoktart&aacute;si nyilatkozatot tettek.</p>
      <p>A szem&eacute;lyes adatok t&aacute;rol&aacute;sa &uacute;gy ker&uuml;lt kialak&iacute;t&aacute;sra, hogy az jogosulatlan szem&eacute;ly r&eacute;sz&eacute;re nem hozz&aacute;f&eacute;rhet&#337;, megismerhet&#337;, megv&aacute;ltoztathat&oacute; vagy megsemmis&iacute;thet&#337;.</p>


      <!-- ═══ Weboldalon történő adatkezelés ═══ -->
      <h2>A weboldalon t&ouml;rt&eacute;n&#337; adatkezel&eacute;sek</h2>

      <!-- ── 1. Sütik ── -->
      <h3>1. T&aacute;j&eacute;koztat&aacute;s s&uuml;tik (cookie) alkalmaz&aacute;s&aacute;r&oacute;l</h3>
      <p>Az &aacute;ltal&aacute;nos elterjedt internetes gyakorlatnak megfelel&#337;en T&aacute;rsas&aacute;gunk is haszn&aacute;l s&uuml;tiket (cookie) a weboldal&aacute;n. A cookie egy kis f&aacute;jl, amely egy sor karaktert tartalmaz, &eacute;s amely akkor ker&uuml;l a l&aacute;togat&oacute; sz&aacute;m&iacute;t&oacute;g&eacute;p&eacute;re, amikor az egy webhelyet keres fel. Amikor ism&eacute;t felkeresi az adott webhelyet, a cookie-nak k&ouml;sz&ouml;nhet&#337;en a webhely k&eacute;pes felismerni a l&aacute;togat&oacute; b&ouml;ng&eacute;sz&#337;j&eacute;t.</p>
      <p>A cookie-k t&aacute;rolhatnak felhaszn&aacute;l&oacute;i be&aacute;ll&iacute;t&aacute;sokat &eacute;s egy&eacute;b inform&aacute;ci&oacute;kat is. A s&uuml;tik &aacute;ltal&aacute;noss&aacute;gban megk&ouml;nny&iacute;tik a weboldal haszn&aacute;lat&aacute;t, el&#337;seg&iacute;tik, hogy a weboldal a felhaszn&aacute;l&oacute;k sz&aacute;m&aacute;ra igazi webes &eacute;lm&eacute;nyt ny&uacute;jtson, &eacute;s hat&eacute;kony inform&aacute;ci&oacute;forr&aacute;st jelentsen, tov&aacute;bb&aacute; biztos&iacute;tj&aacute;k a weboldal &uuml;zemeltet&#337;je r&eacute;sz&eacute;re az oldal m&#369;k&ouml;d&eacute;s&eacute;nek ellen&#337;rz&eacute;s&eacute;t &eacute;s a weboldalon ny&uacute;jtott szolg&aacute;ltat&aacute;sok zavartalan biztos&iacute;t&aacute;s&aacute;t.</p>

      <p>T&aacute;rsas&aacute;gunk honlapja a weboldal haszn&aacute;lata sor&aacute;n a l&aacute;togat&oacute;r&oacute;l, illetve az &aacute;ltala b&ouml;ng&eacute;sz&eacute;sre haszn&aacute;lt eszk&ouml;zr&#337;l az al&aacute;bbi adatokat r&ouml;gz&iacute;theti:</p>
      <ul>
        <li>a l&aacute;togat&oacute; &aacute;ltal haszn&aacute;lt IP c&iacute;m,</li>
        <li>a b&ouml;ng&eacute;sz&#337; t&iacute;pusa,</li>
        <li>a b&ouml;ng&eacute;sz&eacute;sre haszn&aacute;lt eszk&ouml;z oper&aacute;ci&oacute;s rendszer&eacute;nek jellemz&#337;i (be&aacute;ll&iacute;tott nyelv),</li>
        <li>l&aacute;togat&aacute;s id&#337;pontja,</li>
        <li>a megl&aacute;togatott (al)oldal, funkci&oacute; vagy szolg&aacute;ltat&aacute;s.</li>
      </ul>

      <p>A s&uuml;tik haszn&aacute;lat&aacute;nak elfogad&aacute;sa, enged&eacute;lyez&eacute;se nem k&ouml;telez&#337;. Vissza&aacute;ll&iacute;thatja b&ouml;ng&eacute;sz&#337;je be&aacute;ll&iacute;t&aacute;sait, hogy az utas&iacute;tsa el az &ouml;sszes cookie-t, vagy hogy jelezze, ha a rendszer &eacute;ppen egy cookie-t k&uuml;ld. Felh&iacute;vjuk azonban a figyelmet arra, hogy bizonyos webhelyfunkci&oacute;k nem fognak megfelel&#337;en m&#369;k&ouml;dni cookie-k n&eacute;lk&uuml;l.</p>

      <p>A legn&eacute;pszer&#369;bb b&ouml;ng&eacute;sz&#337;k s&uuml;ti be&aacute;ll&iacute;t&aacute;sair&oacute;l az al&aacute;bbi linkeken t&aacute;j&eacute;koz&oacute;dhat:</p>
      <ul>
        <li><a href="https://support.google.com/accounts/answer/61416?hl=hu" target="_blank" rel="noreferrer">Google Chrome</a></li>
        <li><a href="https://support.mozilla.org/hu/kb/sutik-engedelyezese-es-tiltasa-amit-weboldak-haszn" target="_blank" rel="noreferrer">Firefox</a></li>
        <li><a href="http://windows.microsoft.com/hu-hu/windows-10/edge-privacy-faq" target="_blank" rel="noreferrer">Microsoft Edge</a></li>
        <li><a href="https://support.apple.com/hu-hu/HT201265" target="_blank" rel="noreferrer">Safari</a></li>
      </ul>

      <p>A weboldalon haszn&aacute;lt s&uuml;tik &ouml;nmagukban nem alkalmasak a felhaszn&aacute;l&oacute; szem&eacute;ly&eacute;nek beazonos&iacute;t&aacute;s&aacute;ra.</p>

      <h4>a) Technikailag sz&uuml;ks&eacute;ges munkamenet (session) s&uuml;tik</h4>
      <p>Ezek a s&uuml;tik ahhoz sz&uuml;ks&eacute;gesek, hogy a l&aacute;togat&oacute;k b&ouml;ng&eacute;szhess&eacute;k a weboldalt, z&ouml;kken&#337;mentesen &eacute;s teljes k&ouml;r&#369;en haszn&aacute;lhass&aacute;k annak funkci&oacute;it. Ezen s&uuml;tik a munkamenet v&eacute;gezt&eacute;vel, illetve a b&ouml;ng&eacute;sz&#337; bez&aacute;r&aacute;s&aacute;val automatikusan t&ouml;rl&#337;dnek a sz&aacute;m&iacute;t&oacute;g&eacute;pr&#337;l.</p>
      <p><strong>Az adatkezel&eacute;s jogalapja:</strong> az elektronikus kereskedelmi szolg&aacute;ltat&aacute;sok, valamint az inform&aacute;ci&oacute;s t&aacute;rsadalmi szolg&aacute;ltat&aacute;sok egyes k&eacute;rd&eacute;seir&#337;l sz&oacute;l&oacute; 2001. CVIII. t&ouml;rv&eacute;ny (Elkertv.) 13/A. &sect; (3) bekezd&eacute;se.</p>
      <p><strong>Az adatkezel&eacute;s c&eacute;lja:</strong> a honlap megfelel&#337; m&#369;k&ouml;d&eacute;s&eacute;nek biztos&iacute;t&aacute;sa.</p>
      <p><strong>Id&#337;tartam:</strong> a b&ouml;ng&eacute;sz&#337; munkamenet&eacute;nek v&eacute;g&eacute;ig (session cookie).</p>

      <h4>b) A weboldal jelenleg nem haszn&aacute;l analitikai vagy marketing c&eacute;l&uacute; s&uuml;tiket</h4>
      <p>A www.kebpro.hu weboldalon nem m&#369;k&ouml;dik Google Analytics, Facebook Pixel, Google AdWords vagy egy&eacute;b harmadik f&eacute;l &aacute;ltal biztos&iacute;tott k&ouml;vet&#337; (tracking) szolg&aacute;ltat&aacute;s. Amennyiben a j&ouml;v&#337;ben ilyen szolg&aacute;ltat&aacute;sok bevezet&eacute;sre ker&uuml;lnek, jelen t&aacute;j&eacute;koztat&oacute;t a T&aacute;rsas&aacute;g ennek megfelel&#337;en friss&iacute;ti.</p>

      <h4>c) K&uuml;ls&#337; bet&#369;t&iacute;pus szolg&aacute;ltat&aacute;s</h4>
      <p>A weboldal a Google Fonts szolg&aacute;ltat&aacute;st haszn&aacute;lja bet&#369;t&iacute;pusok bet&ouml;lt&eacute;s&eacute;hez. Ennek sor&aacute;n a l&aacute;togat&oacute; b&ouml;ng&eacute;sz&#337;je kapcsolatot l&eacute;tes&iacute;t a Google szervereivel (fonts.googleapis.com, fonts.gstatic.com), &eacute;s a Google a l&aacute;togat&oacute; IP c&iacute;m&eacute;t megismerheti. A Google Fonts haszn&aacute;lata sor&aacute;n a Google nem &aacute;ll&iacute;t be cookie-kat &eacute;s nem k&ouml;veti nyomon a felhaszn&aacute;l&oacute;kat. Tov&aacute;bbi inform&aacute;ci&oacute;: <a href="https://developers.google.com/fonts/faq/privacy" target="_blank" rel="noreferrer">Google Fonts adatv&eacute;delmi t&aacute;j&eacute;koztat&oacute;</a>.</p>

      <!-- ── 2. Ajánlatkérés ── -->
      <h3>2. Aj&aacute;nlatk&eacute;r&eacute;s az &bdquo;Aj&aacute;nlatot k&eacute;rek&rdquo; &#369;rlapon kereszt&uuml;l</h3>
      <p>A weboldalon az aj&aacute;nlatk&eacute;r&#337; &#369;rlap kit&ouml;lt&eacute;s&eacute;vel l&aacute;togat&oacute;ink aj&aacute;nlatot k&eacute;rhetnek term&eacute;keinkre.</p>
      <p><strong>A kezelt szem&eacute;lyes adatok k&ouml;re:</strong> n&eacute;v, c&eacute;gn&eacute;v, e-mail c&iacute;m, telefonsz&aacute;m, term&eacute;k megnevez&eacute;se, mennyis&eacute;g, &uuml;zenet.</p>
      <p><strong>Az adatkezel&eacute;s c&eacute;lja:</strong> aj&aacute;nlat k&eacute;sz&iacute;t&eacute;se &eacute;s megk&uuml;ld&eacute;se, kapcsolatfelv&eacute;tel az aj&aacute;nlatk&eacute;r&#337;vel.</p>
      <p><strong>Az adatkezel&eacute;s jogalapja:</strong> az &eacute;rintett &ouml;nk&eacute;ntes hozz&aacute;j&aacute;rul&aacute;sa (GDPR 6. cikk (1) bek. a) pont), valamint a szerz&#337;d&eacute;s megk&ouml;t&eacute;s&eacute;t megel&#337;z&#337;en az &eacute;rintett k&eacute;r&eacute;s&eacute;re t&ouml;rt&eacute;n&#337; l&eacute;p&eacute;sek megt&eacute;tele (GDPR 6. cikk (1) bek. b) pont).</p>
      <p><strong>Az adatkezel&eacute;s id&#337;tartama:</strong> az aj&aacute;nlatk&eacute;r&eacute;s feldolgoz&aacute;s&aacute;t&oacute;l sz&aacute;m&iacute;tott 1 &eacute;v, vagy az &eacute;rintett t&ouml;rl&eacute;si k&eacute;relm&eacute;ig.</p>
      <p><strong>Az adatokhoz hozz&aacute;f&eacute;r&#337;k k&ouml;re:</strong> a T&aacute;rsas&aacute;g &uuml;gyint&eacute;z&eacute;sre jogosult munkat&aacute;rsai.</p>

      <!-- ── 3. Megrendelés ── -->
      <h3>3. Megrendel&eacute;s a &bdquo;Megrendel&eacute;st adok le&rdquo; &#369;rlapon kereszt&uuml;l</h3>
      <p>A weboldalon a megrendel&#337; &#369;rlap kit&ouml;lt&eacute;s&eacute;vel l&aacute;togat&oacute;ink megrendel&eacute;st adhatnak le.</p>
      <p><strong>A kezelt szem&eacute;lyes adatok k&ouml;re:</strong> n&eacute;v, c&eacute;gn&eacute;v, e-mail c&iacute;m, telefonsz&aacute;m, rendelt term&eacute;k, mennyis&eacute;g, sz&aacute;ll&iacute;t&aacute;si c&iacute;m, k&eacute;rt sz&aacute;ll&iacute;t&aacute;si id&#337;pont, megjegyz&eacute;s.</p>
      <p><strong>Az adatkezel&eacute;s c&eacute;lja:</strong> a megrendel&eacute;s feldolgoz&aacute;sa, a megrendel&#337;vel val&oacute; kapcsolattart&aacute;s, a megrendel&eacute;s teljes&iacute;t&eacute;se.</p>
      <p><strong>Az adatkezel&eacute;s jogalapja:</strong> az &eacute;rintett &ouml;nk&eacute;ntes hozz&aacute;j&aacute;rul&aacute;sa (GDPR 6. cikk (1) bek. a) pont), valamint a szerz&#337;d&eacute;s teljes&iacute;t&eacute;se (GDPR 6. cikk (1) bek. b) pont).</p>
      <p><strong>Az adatkezel&eacute;s id&#337;tartama:</strong> a megrendel&eacute;s teljes&iacute;t&eacute;s&eacute;t&#337;l sz&aacute;m&iacute;tott 1 &eacute;v, sz&aacute;mviteli bizonylatok eset&eacute;n a sz&aacute;mvitelr&#337;l sz&oacute;l&oacute; 2000. &eacute;vi C. t&ouml;rv&eacute;ny szerinti 8 &eacute;v, vagy az &eacute;rintett t&ouml;rl&eacute;si k&eacute;relm&eacute;ig.</p>
      <p><strong>Az adatokhoz hozz&aacute;f&eacute;r&#337;k k&ouml;re:</strong> a T&aacute;rsas&aacute;g &uuml;gyint&eacute;z&eacute;sre jogosult munkat&aacute;rsai.</p>

      <!-- ── 4. Visszahívás ── -->
      <h3>4. Visszah&iacute;v&aacute;s k&eacute;r&eacute;se</h3>
      <p>A weboldal l&aacute;togat&oacute;i a visszah&iacute;v&aacute;s k&eacute;r&#337; widgeten kereszt&uuml;l k&eacute;rhetik, hogy T&aacute;rsas&aacute;gunk munkat&aacute;rsa telefonon keresse meg &#337;ket.</p>
      <p><strong>A kezelt szem&eacute;lyes adatok k&ouml;re:</strong> n&eacute;v, telefonsz&aacute;m, prefer&aacute;lt id&#337;s&aacute;v.</p>
      <p><strong>Az adatkezel&eacute;s c&eacute;lja:</strong> a l&aacute;togat&oacute; visszah&iacute;v&aacute;sa a megadott telefonsz&aacute;mon az &aacute;ltala v&aacute;lasztott id&#337;s&aacute;vban.</p>
      <p><strong>Az adatkezel&eacute;s jogalapja:</strong> az &eacute;rintett &ouml;nk&eacute;ntes hozz&aacute;j&aacute;rul&aacute;sa (GDPR 6. cikk (1) bek. a) pont).</p>
      <p><strong>Az adatkezel&eacute;s id&#337;tartama:</strong> a visszah&iacute;v&aacute;s megt&ouml;rt&eacute;nt&eacute;t&#337;l sz&aacute;m&iacute;tott 30 nap, vagy az &eacute;rintett t&ouml;rl&eacute;si k&eacute;relm&eacute;ig.</p>

      <!-- ── 5. Karrier ── -->
      <h3>5. &Aacute;ll&aacute;sjelentkezés a Karrier oldalon kereszt&uuml;l</h3>
      <p>A weboldal Karrier oldalán a l&aacute;togat&oacute;k &aacute;ll&aacute;sra jelentkezhetnek az ott k&ouml;zz&eacute;tett poz&iacute;ci&oacute;kra.</p>
      <p><strong>A kezelt szem&eacute;lyes adatok k&ouml;re:</strong> n&eacute;v, e-mail c&iacute;m, telefonsz&aacute;m, motiv&aacute;ci&oacute;s sz&ouml;veg, &ouml;n&eacute;letrajz (CV) f&aacute;jl (PDF, DOC vagy DOCX form&aacute;tumban, maximum 5 MB).</p>
      <p><strong>Az adatkezel&eacute;s c&eacute;lja:</strong> a jelentkez&#337; p&aacute;ly&aacute;zat&aacute;nak elb&iacute;r&aacute;l&aacute;sa, kapcsolatfelv&eacute;tel a jelentkez&#337;vel.</p>
      <p><strong>Az adatkezel&eacute;s jogalapja:</strong> az &eacute;rintett &ouml;nk&eacute;ntes hozz&aacute;j&aacute;rul&aacute;sa (GDPR 6. cikk (1) bek. a) pont).</p>
      <p><strong>Az adatkezel&eacute;s id&#337;tartama:</strong> a jelentkez&eacute;s elb&iacute;r&aacute;l&aacute;s&aacute;t&oacute;l sz&aacute;m&iacute;tott 6 h&oacute;nap, vagy az &eacute;rintett t&ouml;rl&eacute;si k&eacute;relm&eacute;ig. A felt&ouml;lt&ouml;tt &ouml;n&eacute;letrajz f&aacute;jlt a T&aacute;rsas&aacute;g z&aacute;rt t&aacute;rol&oacute;helyen &#337;rzi, amelyhez kiz&aacute;r&oacute;lag az &uuml;gyint&eacute;z&eacute;sre jogosult munkat&aacute;rsak f&eacute;rhetnek hozz&aacute;.</p>
      <p><strong>Az adatokhoz hozz&aacute;f&eacute;r&#337;k k&ouml;re:</strong> a T&aacute;rsas&aacute;g HR feladatokat ell&aacute;t&oacute; munkat&aacute;rsai.</p>

      <!-- ── 6. E-mail értesítés ── -->
      <h3>6. E-mail &eacute;rtes&iacute;t&eacute;sek</h3>
      <p>A fenti &#369;rlapok beny&uacute;jt&aacute;sakor a T&aacute;rsas&aacute;g az &uuml;gyint&eacute;z&eacute;s gyors&iacute;t&aacute;sa &eacute;rdek&eacute;ben e-mail &eacute;rtes&iacute;t&eacute;st k&uuml;ldhet a megadott adatokkal a T&aacute;rsas&aacute;g illet&eacute;kes munkat&aacute;rsai r&eacute;sz&eacute;re (info@kebpro.hu). Ezen e-mailek kiz&aacute;r&oacute;lag a T&aacute;rsas&aacute;gon bel&uuml;l ker&uuml;lnek tov&aacute;bb&iacute;t&aacute;sra, harmadik f&eacute;l r&eacute;sz&eacute;re nem.</p>

      <!-- ── 7. Hírlevél ── -->
      <h3>7. H&iacute;rlev&eacute;l szolg&aacute;ltat&aacute;s</h3>
      <p>Jelenleg a weboldalon nincs lehetős&eacute;g h&iacute;rlev&eacute;lre t&ouml;rt&eacute;n&#337; feliratkoz&aacute;sra.</p>

      <!-- ── 8. Közösségi oldalak ── -->
      <h3>8. K&ouml;z&ouml;ss&eacute;gi oldalak</h3>
      <p>A T&aacute;rsas&aacute;g term&eacute;kei &eacute;s szolg&aacute;ltat&aacute;sai megismertet&eacute;se, n&eacute;pszer&#369;s&iacute;t&eacute;se c&eacute;lj&aacute;b&oacute;l Facebook &eacute;s Instagram oldalt tart fenn. A www.kebpro.hu weboldalon jelenleg nem m&#369;k&ouml;dnek Facebook vagy Instagram pluginok &eacute;s k&ouml;vet&#337;k&oacute;dok. A k&ouml;z&ouml;ss&eacute;gi oldalak haszn&aacute;lat&aacute;ra az adott platform saj&aacute;t adatv&eacute;delmi szab&aacute;lyzata vonatkozik:</p>
      <ul>
        <li><a href="https://www.facebook.com/privacy/policy/" target="_blank" rel="noreferrer">Facebook adatv&eacute;delmi ir&aacute;nyelvek</a></li>
        <li><a href="https://privacycenter.instagram.com/policy" target="_blank" rel="noreferrer">Instagram adatv&eacute;delmi ir&aacute;nyelvek</a></li>
      </ul>

      <!-- ── 9. Webáruház ── -->
      <h3>9. Web&aacute;ruh&aacute;z</h3>
      <p>A weboldalon jelenleg nincs lehetős&eacute;g web&aacute;ruh&aacute;zon kereszt&uuml;l t&ouml;rt&eacute;n&#337; v&aacute;s&aacute;rl&aacute;sra.</p>

      <!-- ═══ Adatbiztonság ═══ -->
      <h2>Adatbiztons&aacute;gi int&eacute;zked&eacute;sek</h2>
      <p>A T&aacute;rsas&aacute;g a szem&eacute;lyes adatok v&eacute;delme &eacute;rdek&eacute;ben az al&aacute;bbi technikai &eacute;s szervez&eacute;si int&eacute;zked&eacute;seket alkalmazza:</p>
      <ul>
        <li>A weboldal kiz&aacute;r&oacute;lag HTTPS titkos&iacute;tott kapcsolaton kereszt&uuml;l &eacute;rhet&#337; el.</li>
        <li>A weboldalon biztons&aacute;gi fejl&eacute;cek (Content Security Policy, X-Frame-Options, X-Content-Type-Options, Strict-Transport-Security) ker&uuml;lnek alkalmaz&aacute;sra.</li>
        <li>Az &#369;rlapokra k&uuml;ld&eacute;si gyakoris&aacute;g-korl&aacute;toz&aacute;s (rate limiting) vonatkozik a vissza&eacute;l&eacute;sek megel&#337;z&eacute;se &eacute;rdek&eacute;ben.</li>
        <li>Az adminisztr&aacute;ci&oacute;s fel&uuml;let jelsz&oacute;val v&eacute;dett, a munkamenet-azonos&iacute;t&oacute; kriptogr&aacute;fiai al&aacute;&iacute;r&aacute;ssal (HMAC-SHA256) ker&uuml;l biztos&iacute;t&aacute;sra.</li>
        <li>A felt&ouml;lt&ouml;tt &ouml;n&eacute;letrajz f&aacute;jlok a nyilv&aacute;nos webt&aacute;rt&oacute;l elk&uuml;l&ouml;n&iacute;tett, nem publikus k&ouml;nyvt&aacute;rban ker&uuml;lnek t&aacute;rol&aacute;sra.</li>
      </ul>

      <!-- ═══ Érintetti jogok ═══ -->
      <h2>&Ouml;sszefoglal&oacute; t&aacute;j&eacute;koztat&aacute;s az &eacute;rintett jogair&oacute;l</h2>

      <h3>El&#337;zetes t&aacute;j&eacute;koz&oacute;d&aacute;shoz val&oacute; jog</h3>
      <p>Az &eacute;rintett jogosult arra, hogy az adatkezel&eacute;ssel &ouml;sszef&uuml;gg&#337; t&eacute;nyekr&#337;l &eacute;s inform&aacute;ci&oacute;kr&oacute;l az adatkezel&eacute;s megkezd&eacute;s&eacute;t megel&#337;z&#337;en t&aacute;j&eacute;koztat&aacute;st kapjon. (GDPR 13&ndash;14. cikk)</p>

      <h3>Az &eacute;rintett hozz&aacute;f&eacute;r&eacute;si joga</h3>
      <p>Az &eacute;rintett jogosult arra, hogy az Adatkezel&#337;t&#337;l visszajelz&eacute;st kapjon arra vonatkoz&oacute;an, hogy szem&eacute;lyes adatainak kezel&eacute;se folyamatban van-e, &eacute;s ha igen, jogosult arra, hogy a szem&eacute;lyes adatokhoz &eacute;s a GDPR-ben meghat&aacute;rozott kapcsol&oacute;d&oacute; inform&aacute;ci&oacute;khoz hozz&aacute;f&eacute;r&eacute;st kapjon. (GDPR 15. cikk)</p>

      <h3>A helyes&iacute;b&iacute;t&eacute;shez val&oacute; jog</h3>
      <p>Az &eacute;rintett jogosult arra, hogy k&eacute;r&eacute;s&eacute;re az Adatkezel&#337; indokolatlan k&eacute;sedelem n&eacute;lk&uuml;l helyes&iacute;b&iacute;tse a r&aacute; vonatkoz&oacute; pontatlan szem&eacute;lyes adatokat. Az &eacute;rintett jogosult a hi&aacute;nyos szem&eacute;lyes adatok kieg&eacute;sz&iacute;t&eacute;s&eacute;t is k&eacute;rni. (GDPR 16. cikk)</p>

      <h3>A t&ouml;rl&eacute;shez val&oacute; jog (&bdquo;az elfeledtet&eacute;shez val&oacute; jog&rdquo;)</h3>
      <p>Az &eacute;rintett jogosult arra, hogy k&eacute;r&eacute;s&eacute;re az Adatkezel&#337; indokolatlan k&eacute;sedelem n&eacute;lk&uuml;l t&ouml;r&ouml;lje a r&aacute; vonatkoz&oacute; szem&eacute;lyes adatokat, az Adatkezel&#337; pedig k&ouml;teles arra, hogy az &eacute;rintettre vonatkoz&oacute; szem&eacute;lyes adatokat indokolatlan k&eacute;sedelem n&eacute;lk&uuml;l t&ouml;r&ouml;lje, ha a GDPR-ben meghat&aacute;rozott indokok valamelyike fenn&aacute;ll. (GDPR 17. cikk)</p>

      <h3>Az adatkezel&eacute;s korl&aacute;toz&aacute;s&aacute;hoz val&oacute; jog</h3>
      <p>Az &eacute;rintett jogosult arra, hogy k&eacute;r&eacute;s&eacute;re az Adatkezel&#337; korl&aacute;tozza az adatkezel&eacute;st, ha a GDPR-ben meghat&aacute;rozott felt&eacute;telek teljes&uuml;lnek. (GDPR 18. cikk)</p>

      <h3>&Eacute;rtes&iacute;t&eacute;si k&ouml;telezetts&eacute;g</h3>
      <p>Az Adatkezel&#337; minden olyan c&iacute;mzettet t&aacute;j&eacute;koztat valamennyi helyes&iacute;b&iacute;t&eacute;sr&#337;l, t&ouml;rl&eacute;sr&#337;l vagy adatkezel&eacute;s-korl&aacute;toz&aacute;sr&oacute;l, akivel, illetve amellyel a szem&eacute;lyes adatot k&ouml;z&ouml;lt&eacute;k, kiv&eacute;ve, ha ez lehetetlennek bizonyul, vagy ar&aacute;nytalanul nagy er&#337;fesz&iacute;t&eacute;st ig&eacute;nyel. (GDPR 19. cikk)</p>

      <h3>Az adathordozhat&oacute;s&aacute;ghoz val&oacute; jog</h3>
      <p>A GDPR-ben &iacute;rt felt&eacute;telekkel az &eacute;rintett jogosult arra, hogy a r&aacute; vonatkoz&oacute;, &aacute;ltala az Adatkezel&#337; rendelkez&eacute;s&eacute;re bocs&aacute;tott szem&eacute;lyes adatokat tagolt, sz&eacute;les k&ouml;rben haszn&aacute;lt, g&eacute;ppel olvashat&oacute; form&aacute;tumban megkapja, tov&aacute;bb&aacute; jogosult arra, hogy ezeket az adatokat egy m&aacute;sik adatkezel&#337;nek tov&aacute;bb&iacute;tsa. (GDPR 20. cikk)</p>

      <h3>A tiltakoz&aacute;shoz val&oacute; jog</h3>
      <p>Az &eacute;rintett jogosult arra, hogy a saj&aacute;t helyzet&eacute;vel kapcsolatos okokb&oacute;l b&aacute;rmikor tiltakozzon szem&eacute;lyes adatainak a GDPR 6. cikk (1) bekezd&eacute;s&eacute;nek e) vagy f) pontj&aacute;n alapul&oacute; kezel&eacute;se ellen. (GDPR 21. cikk)</p>

      <h3>Automatiz&aacute;lt d&ouml;nt&eacute;shoz&aacute;s</h3>
      <p>Az &eacute;rintett jogosult arra, hogy ne terjedjen ki r&aacute; az olyan, kiz&aacute;r&oacute;lag automatiz&aacute;lt adatkezel&eacute;sen &ndash; ide&eacute;rtve a profilalkot&aacute;st is &ndash; alapul&oacute; d&ouml;nt&eacute;s hat&aacute;lya, amely r&aacute; n&eacute;zve joghat&aacute;ssal j&aacute;rna vagy &#337;t jelent&#337;s m&eacute;rt&eacute;kben &eacute;rinten&eacute;. A T&aacute;rsas&aacute;g a weboldalon automatiz&aacute;lt d&ouml;nt&eacute;shoz&aacute;st nem alkalmaz. (GDPR 22. cikk)</p>

      <h3>Adatv&eacute;delmi incidensr&#337;l val&oacute; t&aacute;j&eacute;koztat&aacute;s</h3>
      <p>Ha az adatv&eacute;delmi incidens val&oacute;sz&iacute;nűs&iacute;thet&#337;en magas kock&aacute;zattal j&aacute;r a term&eacute;szetes szem&eacute;lyek jogaira &eacute;s szabads&aacute;gaira n&eacute;zve, az Adatkezel&#337; indokolatlan k&eacute;sedelem n&eacute;lk&uuml;l t&aacute;j&eacute;koztatja az &eacute;rintettet az adatv&eacute;delmi incidensről. (GDPR 34. cikk)</p>

      <h3>A fel&uuml;gyeleti hat&oacute;s&aacute;gn&aacute;l t&ouml;rt&eacute;n&#337; panaszt&eacute;telhez val&oacute; jog</h3>
      <p>Az &eacute;rintett jogosult arra, hogy panaszt tegyen egy fel&uuml;gyeleti hat&oacute;s&aacute;gn&aacute;l &ndash; k&uuml;l&ouml;n&ouml;sen a szok&aacute;sos tart&oacute;zkod&aacute;si helye, a munkahelye vagy a felt&eacute;telezett jogs&eacute;rt&eacute;s helye szerinti tag&aacute;llamban &ndash;, ha az &eacute;rintett meg&iacute;t&eacute;l&eacute;se szerint a r&aacute; vonatkoz&oacute; szem&eacute;lyes adatok kezel&eacute;se megs&eacute;rti a GDPR-t. (GDPR 77. cikk)</p>
      <p><strong>Illet&eacute;kes fel&uuml;gyeleti hat&oacute;s&aacute;g:</strong></p>
      <p>Nemzeti Adatv&eacute;delmi &eacute;s Inform&aacute;ci&oacute;szabads&aacute;g Hat&oacute;s&aacute;g (NAIH)<br>
      C&iacute;m: 1055 Budapest, Falk Miksa utca 9&ndash;11.<br>
      Postac&iacute;m: 1363 Budapest, Pf.: 9.<br>
      Telefon: +36 1 391 1400<br>
      E-mail: ugyfelszolgalat@naih.hu<br>
      Honlap: <a href="https://www.naih.hu" target="_blank" rel="noreferrer">www.naih.hu</a></p>

      <h3>B&iacute;r&oacute;s&aacute;gi jogorvoslathoz val&oacute; jog</h3>
      <p>Minden &eacute;rintett hat&eacute;kony b&iacute;r&oacute;s&aacute;gi jogorvoslatra jogosult, ha meg&iacute;t&eacute;l&eacute;se szerint a szem&eacute;lyes adatainak e rendeletnek nem megfelel&#337; kezel&eacute;se k&ouml;vetkezt&eacute;ben megs&eacute;rtett&eacute;k a GDPR szerinti jogait. Az &eacute;rintett a pert a lak&oacute;helye szerinti t&ouml;rv&eacute;nysz&eacute;k el&#337;tt is megind&iacute;thatja. (GDPR 78&ndash;79. cikk)</p>

      <!-- ═══ Kérelem ═══ -->
      <h2>Az &eacute;rintett k&eacute;relm&eacute;nek el&#337;terjeszt&eacute;se</h2>
      <p>Az Adatkezel&#337; indokolatlan k&eacute;sedelem n&eacute;lk&uuml;l, de legk&eacute;s&#337;bb a k&eacute;relem be&eacute;rkez&eacute;s&eacute;t&#337;l sz&aacute;m&iacute;tott <strong>egy h&oacute;napon bel&uuml;l</strong> t&aacute;j&eacute;koztatja az &eacute;rintettet a jogai gyakorl&aacute;s&aacute;ra ir&aacute;nyul&oacute; k&eacute;relme nyom&aacute;n hozott int&eacute;zked&eacute;sekr&#337;l.</p>
      <p>Sz&uuml;ks&eacute;g eset&eacute;n, figyelembe v&eacute;ve a k&eacute;relem &ouml;sszetetts&eacute;g&eacute;t &eacute;s a k&eacute;relmek sz&aacute;m&aacute;t, ez a hat&aacute;rid&#337; tov&aacute;bbi k&eacute;t h&oacute;nappal meghosszabb&iacute;that&oacute;. A hat&aacute;rid&#337; meghosszabb&iacute;t&aacute;s&aacute;r&oacute;l az Adatkezel&#337; a k&eacute;sedelem okainak megjel&ouml;l&eacute;s&eacute;vel a k&eacute;relem k&eacute;zhezv&eacute;tel&eacute;t&#337;l sz&aacute;m&iacute;tott egy h&oacute;napon bel&uuml;l t&aacute;j&eacute;koztatja az &eacute;rintettet.</p>
      <p>Ha az &eacute;rintett elektronikus &uacute;ton ny&uacute;jtotta be a k&eacute;relmet, a t&aacute;j&eacute;koztat&aacute;st lehetős&eacute;g szerint elektronikus &uacute;ton kell megadni, kiv&eacute;ve, ha az &eacute;rintett azt m&aacute;sk&eacute;nt k&eacute;ri.</p>
      <p>Ha az Adatkezel&#337; nem tesz int&eacute;zked&eacute;seket az &eacute;rintett k&eacute;relme nyom&aacute;n, k&eacute;sedelem n&eacute;lk&uuml;l, de legk&eacute;s&#337;bb a k&eacute;relem be&eacute;rkez&eacute;s&eacute;t&#337;l sz&aacute;m&iacute;tott egy h&oacute;napon bel&uuml;l t&aacute;j&eacute;koztatja az &eacute;rintettet az int&eacute;zked&eacute;s elmarad&aacute;s&aacute;nak okair&oacute;l, valamint arr&oacute;l, hogy az &eacute;rintett panaszt ny&uacute;jthat be a NAIH-n&aacute;l, &eacute;s &eacute;lhet b&iacute;r&oacute;s&aacute;gi jogorvoslati jog&aacute;val.</p>
      <p>Az Adatkezel&#337; a t&aacute;j&eacute;koztat&aacute;st &eacute;s az int&eacute;zked&eacute;st <strong>d&iacute;jmentesen</strong> biztos&iacute;tja. Ha az &eacute;rintett k&eacute;relme egy&eacute;rtelm&#369;en megalapozatlan vagy &ndash; k&uuml;l&ouml;n&ouml;sen ism&eacute;tl&#337;d&#337; jellege miatt &ndash; t&uacute;lz&oacute;, az Adatkezel&#337;:</p>
      <ul>
        <li>&eacute;sszer&#369; &ouml;sszeg&#369; d&iacute;jat sz&aacute;m&iacute;that fel, vagy</li>
        <li>megtagadhatja a k&eacute;relem alapj&aacute;n t&ouml;rt&eacute;n&#337; int&eacute;zked&eacute;st.</li>
      </ul>
      <p>A k&eacute;relem megalapozatlan vagy t&uacute;lz&oacute; jelleg&eacute;nek bizony&iacute;t&aacute;sa az Adatkezel&#337;t terheli.</p>

      <!-- ═══ Záró rendelkezések ═══ -->
      <h2>Z&aacute;r&oacute; rendelkez&eacute;sek</h2>
      <p>T&aacute;rsas&aacute;gunk fenntartja a jogot, hogy jelen t&aacute;j&eacute;koztat&oacute;t egyoldal&uacute;an, a m&oacute;dos&iacute;t&aacute;st k&ouml;vet&#337; hat&aacute;llyal m&oacute;dos&iacute;tsa. A m&oacute;dos&iacute;t&aacute;s t&eacute;ny&eacute;r&#337;l az &eacute;rintetteket a weboldalon k&ouml;zz&eacute;t&eacute;tel &uacute;tj&aacute;n &eacute;rtes&iacute;tj&uuml;k.</p>
      <p>Adatv&eacute;delemmel kapcsolatos k&eacute;rd&eacute;seit, k&eacute;relmeit az al&aacute;bbi el&eacute;rhet&#337;s&eacute;geken juttathatja el hozz&aacute;nk:</p>
      <ul>
        <li>E-mail: info@kebpro.hu</li>
        <li>Postac&iacute;m: 6400, Kiskunhalas, Szegedi &uacute;t 8.</li>
        <li>Telefon: +36 70 451 5002</li>
      </ul>

      <p><em>Halasi Kebpro Kft., Kiskunhalas</em></p>
    </article>
  </div>
</section>

<%- include('partials/footer') %>
