<%- include('partials/header') %>

<section class="page-hero section-animate">
  <div class="container">
    <p class="eyebrow">Impresszum</p>
    <h1>Halasi Kebpro Kft.</h1>
  </div>
</section>

<section class="section section-animate">
  <div class="container">
    <article class="panel wide legal-content">
      <p><strong>Sz&eacute;khely:</strong> H-6400 Kiskunhalas, Szegedi &uacute;t 8.</p>
      <p><strong>Telefon:</strong> +36 (06) 70 451 5002</p>
      <p><strong>Telefon:</strong> +36 (06) 70 451 5003</p>
      <p><strong>E-mail:</strong> info@kebpro.hu</p>
      <p><strong>Honlap:</strong> www.kebpro.hu</p>
      <p><strong>&Uuml;gyvezet&#337;:</strong> Horv&aacute;th Anik&oacute;</p>

      <p><strong>C&eacute;gjegyz&eacute;ksz&aacute;m:</strong> 03-09-111668</p>
      <p><strong>Ad&oacute;sz&aacute;m:</strong> 13289665-2-03</p>
      <p><strong>K&ouml;z&ouml;ss&eacute;gi ad&oacute;sz&aacute;m:</strong> HU13289665</p>

      <p><strong>Sz&aacute;mlavezet&#337; bank:</strong> Raiffeisen Bank Rt.</p>
      <p><strong>Banksz&aacute;mla sz&aacute;m:</strong> 12064005-00112299-00100005</p>

      <h2>Szerz&#337;i jogok &eacute;s felel&#337;ss&eacute;g</h2>
      <p>A weboldalon megjelen&iacute;tett dokumentumok &eacute;s azok forr&aacute;sanyagai szerz&#337;i jogv&eacute;delem alatt &aacute;llnak, melynek kiz&aacute;r&oacute;lagos birtokosa a Halasi-Kebpro Kft. Ez al&oacute;l kiv&eacute;telt k&eacute;pez a weboldalon megjelent fot&oacute;k &eacute;s illusztr&aacute;ci&oacute;k szerz&#337;i joga, amely a fot&oacute;k k&eacute;sz&iacute;t&#337;it illeti.</p>
      <p>A Halasi-Kebpro Kft. fenntart mag&aacute;nak minden jogot (bele&eacute;rtve tulajdonjog, szerz&#337;i jog) &eacute;s senkinek nem bocs&aacute;t a rendelkez&eacute;s&eacute;re semilyen term&eacute;szet&#369; licenc vagy egy&eacute;b jogot. A weboldalakon szerepl&#337; dokumentumok sokszorosít&aacute;sa csak szem&eacute;lyes &eacute;s inform&aacute;ci&oacute;s c&eacute;lra megengedett. Minden egy&eacute;b felhaszn&aacute;l&aacute;s vagy sokszorosít&aacute;s kifejezetten tilos.</p>
      <p>A Halasi-Kebpro Kft. nem v&aacute;llal felel&#337;ss&eacute;get a weboldalain megjelenő helytelen, hib&aacute;s vagy hi&aacute;nyos inform&aacute;ci&oacute;k tekintet&eacute;ben, &iacute;gy minden d&ouml;nt&eacute;s, amely a weboldalakon rendelkez&eacute;sre bocs&aacute;tott inform&aacute;ci&oacute;kon alapul, kiz&aacute;r&oacute;lag a felhaszn&aacute;l&oacute; felel&#337;ss&eacute;g&eacute;t terheli.</p>

      <h2>Koncepci&oacute; &eacute;s kivitelez&eacute;s</h2>
      <p>Euromedia Creative Kft.</p>
      <p>H-6400 Kiskunhalas, Kossuth utca 13.</p>
      <p>E-mail: info@euromedia.hu</p>
      <p>www.euromedia.hu</p>
    </article>
  </div>
</section>

<%- include('partials/footer') %>
